.container_crear {
    display: flex;
    justify-content: center;
    margin: 200px 200px 50px 200px;
}

.crear {
    $main--font: 'Chakra Petch', sans-serif;
    $main--color: #E6E6E6;
    $secondary--color: #110038;
    font-family: 'Chakra Petch', sans-serif;
    &_gifos {
        width: 684px;
        height: 386px;
        background: #E6E6E6;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    }
    &_titulo {
        background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
        width: 678px;
        height: 24px;
        color: white;
        position: relative;
        margin-left: 4px;
        margin-top: 4px;
    }
    .crear_barra_titulo {
        display: flex;
        justify-content: space-between;
    }
    .titulo_2 {
        display: flex;
        flex-direction: row;
        margin-left: 80px;
        margin-top: 20px;
        font-weight: 700;
        font-family: $main--font;
        font-size: 1rem;
    }
    .texto_titulo {
        margin-left: 20px;
        color: black;
    }
}

.instrucciones {
    p {
        font-size: 14px;
    }
    font-size: 14px;
    width: 518px;
    height: 190px;
    text-align: justify;
    margin-top: 20px;
    margin-left: 80px;
    color: black;
}

.mis_guifos {
    display: flex;
    justify-content: center;
}

.mis_guifos_barra {
    width: 1200px;
    height: 32px;
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}

#captura_container {
    width: 832px;
    height: 434px;
    display: flex;
    justify-content: center;
}

.crear_elementos {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.buttons_crear {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 20px;
    margin-top: 10px;
}

.cronometro {
    width: 124px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    margin-right: 490px;
    margin-top: 10px;
    padding-left: 3px;
}

.segundos {
    text-align: center;
    padding-top: 5px;
}

.crear_elementos_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button_cam {
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    width: 36px;
    height: 36px;
}

.button_capturar {
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    width: 144px;
    height: 36px;
}

.button_cam_2 {
    background: #FF6161;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
    width: 36px;
    height: 36px;
}

.button_capturar_2 {
    background: #FF6161;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
    color: white;
    width: 144px;
    height: 36px;
}

.cancelar_button {
    width: 144px;
    height: 36px;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    margin-right: 15px;
    a {
        text-decoration: none;
    }
}

.comenzar_button {
    width: 144px;
    height: 36px;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.crear_gifos_2 {
    width: 860px;
    height: 548px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

#subiendo_container {
    width: 832px;
    height: 434px;
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    margin-left: 10px;
    margin-top: 10px;
}

.crear_elementos_3 {
    display: flex;
    justify-content: flex-end;
}

//contenido globo
.crear_titulo_2 {
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    width: 858px;
    height: 24px;
    color: white;
    position: relative;
    margin-left: 3px;
    margin-top: 3px;
    z-index: 1;
}

.cerrar_x {
    position: absolute;
    z-index: 200;
    margin-left: 840px;
    margin-top: 8px;
}

.cerrar_x2 {
    position: absolute;
    z-index: 200;
    margin-left: 840px;
    margin-top: -20px;
}

.subiendo_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.globe {
    width: 48px;
    height: 48px;
    margin-bottom: 50px;
}

.texto_subiendo {
    font-family: ChakraPetch-Bold;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
}

.texto_tiempo {
    font-size: 12px;
    color: rgba(17, 0, 56, 0.64);
    letter-spacing: 0;
    text-align: center;
    line-height: 14px;
    margin-top: -50px;
}

#chequeo {
    display: block;
}

#captura_cam {
    display: block;
}

.buttonsx2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
    margin-top: -10px;
}

#buttons_instrucciones {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 30px;
    margin-right: 25px;
}

.button_copy {
    width: 256px;
    height: 36px;
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    margin: 10px;
}

.button_download {
    width: 256px;
    height: 36px;
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    margin: 10px;
    a {
        text-decoration: none;
    }
}

.button_ready2 {
    width: 144px;
    height: 36px;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    margin-top: 30px;
    margin-left: 100px;
    a {
        text-decoration: none;
    }
}

#container_video {
    width: 832px;
    height: 434px;
    margin: 10px;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000
}

.success {
    font-weight: bold;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 5px;
    padding-right: 30px;
}

.my_gif {
    width: 365px;
    height: 191px;
    opacity: 0.3;
    display: none;
}

#mis_guifos_container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    position: absolute;
    left: 100px;
    right: 100px;
    top: 900px;
}

#subiendo_gif {
    display: flex;
    justify-content: center;
    margin: 200px 200px 50px 200px;
}

.ultimo_container {
    display: none;
    width: 365px;
    height: 191px;
    margin: 10px;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000
}

.crear_guifos_3 {
    width: 684px;
    height: 386px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    display: flex;
    justify-content: center;
    margin: 200px 200px 50px 200px;
    flex-direction: column;
    justify-content: center;
    display: none;
}

#gifoOk {
    margin-left: 20px;
    margin-top: 400px;
    width: 365px;
    height: 191px;
    margin: 30px
}

.crear_titulo_3 {
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    width: 681px;
    height: 24px;
    color: white;
    position: relative;
    margin-left: 3px;
    margin-top: 3px;
    z-index: 1;
}

.cerrar_x3 {
    position: absolute;
    z-index: 200;
    margin-left: 660px;
    margin-top: -20px;
}

.last_btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-left: 400px;
    margin-top: -250px;
}

.barra_carga {
    .barra_barra {
        width: 240px;
        height: 24px;
        position: absolute;
        top: 720px;
        left: 449px;
        background: #B4B4B4;
        box-shadow: inset 2px 2px 0 0 #000000, inset -2px -2px 0 0 #FFFCFC;
        .divisor1 {
            width: 60px;
            height: 20px;
            background: #F7C9F3;
            margin-top: 2px;
            margin-left: 2px;
        }
        .divisor2 {
            width: 176px;
            height: 20px;
            background: #999999;
            margin-top: -20px;
            margin-left: 62px;
        }
    }
}

.forward {
    justify-content: center;
    width: 20px;
    height: 20px;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    position: absolute;
    top: 721px;
    left: 420px;
}

#img_forward {
    margin-left: 6px;
}

.cronometro2 {
    width: 124px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    margin-left: 40px;
    margin-top: -55px;
    padding-left: 3px;
}

.segundos2 {
    text-align: center;
    padding-top: 5px;
}

#cancelar_subir {
    margin-top: 20px;
}